<!-- ============================================ -->
<!--                    CTA                       -->
<!-- ============================================ -->

<section id="cta-403">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Your homepage shouldn't just look good. </h2>
            <p class="cs-text">
                You need to know what to say, where to say it, and why it works. The <a href="/anti-template/">{{ services.freebie.name }}</a> is your free guide to a homepage that's actually strategic and intentional.
            </p>
            <a href="https://neva-masquerade.kit.com/newsletter" class="cs-button-solid">Get the free guide</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <source media="(max-width: 1023px)" srcset="../../assets/images/anti-template-mockup-m.webp">
        <source media="(min-width: 1024px)" srcset="../../assets/images/anti-template-mockup.webp">
        <img loading="lazy" decoding="async" src="../../assets/images/anti-template-mockup.webp" alt="An iPad displaying the Homepage Anti-Template PDF." width="1920px" height="400px" aria-hidden="true">
    </picture>
</section>