<!-- ============================================ -->
<!--                    CTA                       -->
<!-- ============================================ -->

<section id="cta-403">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Still here? You're my people.</span>
            <h2 class="cs-title">Want more like this in your inbox?</h2>
            <p class="cs-text">
                I send occasional notes on story, strategy, and what makes a website actually work. No spam, just cats (and the kind of content you’ll actually want to read).
            </p>
            <a href="https://neva-masquerade.kit.com/ba0a72fc63" class="cs-button-solid">Send me updates</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <source media="(max-width: 1023px)" srcset="../../assets/images/newsletter-cta-m.webp">
        <source media="(min-width: 1024px)" srcset="../../assets/images/newsletter-cta-w.webp">
        <img loading="lazy" decoding="async" src="../../assets/images/newsletter-cta.webp" alt="A cat wearing glasses looks a laptop with its paws resting on an open notebook." width="1920px" height="400px" aria-hidden="true">
    </picture>
</section>