{% extends "layouts/base.html" %}

{% block head %}
    {{ super() }}
    <meta property="og:type" content="article" />
    <link rel="stylesheet" href="/assets/css/blog-post.css" media="print" onload="this.media='all'; this.onload=null;" />
    <noscript>
        <link rel="stylesheet" href="/assets/css/blog-post.css" />
    </noscript>


    <!-- prettier-ignore-start -->
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Article",
            {% if meta_title %}"headline": "{{ meta_title }}",{% elif title %}"headline": "{{ title }}",{% endif %}
            {% if image %}
                "image": ["{{ image }}"],
            {% endif %}
            {% if date %}"datePublished": "{{ date | postDate }}",{% endif %}
            {% if client.name %}
                "publisher": {
                    "@type": "Organization",
                    "name": "{{ client.name }}"
                },
            {% endif %}
            {% if author %}
                "author": [
                    {
                        "@type": "Person",
                        "name": "{{ author }}"
                    }
                ],
            {% endif %}
            {% if description %}"articleBody": "{{ description | safe }}",{% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if tags %}"articleSection": "{{ tags }}"{% endif %}
        }
    </script>
    <!-- prettier-ignore-end -->
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                   Banner                     -->
    <!-- ============================================ -->

    <div id="banner-1106">
        <div class="cs-container">
            <h1 class="cs-int-title">{{ title }}</h1>
            <div class="blog-authorGroup">
                <!--Blog Date-->
                <span class="blog-date">Last Updated: {{ date | postDate }}</span>
            </div>
        </div>
        <!--Background Image-->
        <picture class="cs-background">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="../../assets/textures/blue-banner-m.webp">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="../../assets/textures/blue-banner.webp">
            <img decoding="async" src="../../assets/textures/blue-banner.webp" alt="" width="1280" height="568" aria-hidden="true">
        </picture>
    </div>

    <!-- ============================================ -->
    <!--               Featured Image                 -->
    <!-- ============================================ -->
<div class="nm-featured-image">
        <picture class="blog-mainImage">
            <img
                src="{{ image }}"
                alt="{{ imageAlt }}"
                decoding="async"
            />
        </picture>
    </div>
    <!-- ============================================ -->
    <!--              Main Blog Content               -->
    <!-- ============================================ -->
    

    <div class="blog-container main-content-wrapper">
        
        <!--Main content -->
        <div class="main-content">
            <!-- ============================================ -->
            <!--                  Blog Article                -->
            <!-- ============================================ -->

            <article class="blog-article">
                <section id="blog-content">{{ content | safe }}</section>
            </article>
        </div>
        <!-- End .main-content -->
    </div>
    {% include 'components/cta.html' %}
{% endblock %}
