---
title: "404: Cat not found"
description: "The link is dead. Long live the website. Head back to safety or start fresh from the blog or services page."
preloadImg: '/assets/images/404-m.webp'
permalink: '404/'
eleventyExcludeFromCollections: true
---

{% extends "layouts/base.html" %}

{% block head %}
    {{ super() }}
    <meta property="og:type" content="website" />
    <!-- Any page-specific tags that belong in the <head>, such as a page-specific stylesheet -->
    <link rel="stylesheet" href="/assets/css/404.css" media="print" onload="this.media='all'; this.onload=null;" />
    <noscript>
        <link rel="stylesheet" href="/assets/css/404.css" />
    </noscript>
{% endblock %}

{% block body %}
    <!-- Page HTML goes here, without a <main> wrapper. The <main> tag is already presented in layouts/base.html -->

        <!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-574">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="../../assets/images/404-m.webp">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="../../assets/images/404.webp">
            <img fetchpriority="high" decoding="async" src="../../assets/images/404.webp" alt="A chinchilla lounges like a tiny cryptid beside a suspiciously well-styled basket of nuts." width="618" height="537">
        </picture>
        <div class="cs-content">
            <h1 class="cs-title">You Found the Forbidden Rodent.</h1>
            <p class="cs-text">
                Only the chosen encounter the chinchilla.
            </p>
            <p class="cs-text">
                Unfortunately, this is still a 404. But feel free to brag about it in the comments. (There are no comments.)
            </p>
            <p class="cs-text">
                Nonetheless, you took a wrong turn and Chinchilla de Vil is not amused. She will allow one exit. Choose carefully:
            </p>
            <ul>
                <li><a href="/">Excape the woods. (Home)</a></li>
                <li><a href="/start-here/">Abandon chinchilla. Return to order. (Start Here)</a></li>
                <li><a href="/services/">Regroup with the cats. (Services)</a></li>
                <li><a href="/blog/">Consult the scrolls. (Blog)</a></li>
                <li><a href="/contact/">Speak to the webmaster before the chinchilla does. (Contact)</a></li>
        </div>
    </div>
</section>
{% endblock %}