---
title: "Slide into My Inbox (Politely)"
description: "Book a call, send a question, or casually overthink your message before hitting send. All good. I’ll be here when you’re ready."
preloadImg: "/assets/images/contact-m.webp"
ogImage: "/assets/images/og/contact-og.png"
permalink: "contact/"
---

{% extends "layouts/base.html" %}

{% block head %}
    {{ super() }}
    <meta property="og:type" content="website" />
    <link rel="stylesheet" href="../../assets/css/contact.css" media="print" onload="this.media='all'; this.onload=null;" />
    <noscript>
        <link rel="stylesheet" href="/assets/css/contact.css" />
    </noscript>
    
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                   Hero                       -->
<!-- ============================================ -->

<section id="hero-288">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">Let’s start the conversation.</h1>
            <p class="cs-text">
                Have a question? Not sure if this is the right fit? Reach out and I’ll get back to you within 1&ndash;2 business days.<br>
                No pressure, no pitch deck.<br>
                Just a real human response.
            </p>
        </div>
        <!--Hero Image-->
        <picture class="cs-picture">
            <source media="(max-width: 1023px)" srcset="../../assets/images/contact-m.webp">
            <source media="(min-width: 1024px)" srcset="../../assets/images/contact.webp">
            <img aria-hidden="true" decoding="async" fetchpriority="high" src="../../assets/images/contact.webp" alt="A cat video conferencing four more cats." width="630" height="630">
        </picture>
        <!--Green Waves-->
        <picture class="cs-waves">
            <source media="(min-width: 1024px)" srcset="../../assets/textures/blue-tall.webp">
            <source media="(min-width: 601px)" srcset="../../assets/textures/hero-background.webp">
            <source media="(max-width: 600px)" srcset="../../assets/textures/hero-background.webp">
            <img decoding="async" src="../../assets/textures/blue-tall.webp" alt="" width="645" height="1080" aria-hidden="true">
        </picture>
    </div>
</section>

<!-- ============================================ -->
<!--                    Options                   -->
<!-- ============================================ -->

<section id="services-2175">
    <div class="cs-container">
        <ul class="cs-card-group">
            <li class="cs-item">
                <h3 class="cs-h3">
                    Book a Discovery Call
                </h3>
                <p class="cs-item-text">
                    If you’re interested in {{ services.strWeb.name }}, {{ services.stdWeb.name }}, or {{ services.subWeb.name }} or want to talk through what working together might look like, schedule a free intro call.
                </p>
                <a class="nm-button-secondary" href="https://calendly.com/tianna-nevamasquerade/storycrafted-sites-discovery-call">
                    Schedule a call
                    <img class="cs-arrow" loading="lazy" decoding="async" src="../../assets/svgs/chevron.svg" alt="" width="20" height="20" aria-hidden="true">
                </a>
            </li>
            <li class="cs-item">
                <h3 class="cs-h3">
                    Prefer to send a note?
                </h3>
                <p class="cs-item-text">
                    For quick questions, collaboration ideas, or cat-related commentary, just fill out the form below &mdash; it goes straight to my inbox. I’ll get back to you within 1&ndash;2 business days.
                </p>
                <a class="nm-button-secondary" href="#cs-form-1333">
                    Submit your question
                    <img class="cs-arrow" loading="lazy" decoding="async" src="../../assets/svgs/chevron.svg" alt="" width="20" height="20" aria-hidden="true">
                </a>
            </li>
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--                 Contact & FAQ                -->
<!-- ============================================ -->

<section id="contact-1333">
    <div class="cs-container">
        <!--Form-->
        <form class="cs-form" id="cs-form-1333" name="Contact Form" method="post" netlify netlify-honeypot="bot-field" method="POST" action="thank-you-contact-submission/">
            <div class="cs-content">
                <span class="cs-topper">Curious is enough.</span>
                <h2 class="cs-title">Still on the fence?</h2>
                <p class="cs-text">
                    Reach out anyway. Whether you’re ready to book or just dipping a toe in, I’d love to hear from you.
                </p>
            </div>
            <label class="cs-label">
                Name*
                <input class="cs-input" required type="text" id="name-1333" name="name" placeholder="Name">
            </label>
            <label class="cs-label cs-email">
                Email*
                <input class="cs-input" required type="email" id="email-1333" name="email" placeholder="Email">
            </label>
            <label class="cs-label cs-phone">
                Phone*
                <input class="cs-input" required type="number" id="phone-1333" name="phone" placeholder="Phone">
            </label>
            <label class="cs-label">
                Message*
                <textarea class="cs-input cs-textarea" required name="Message" id="message-1333" placeholder="Write message..."></textarea>
            </label>
            <label class="nm-honeypot">Not for humans <input name="bot-field" /> </label>
            <button class="cs-button-solid cs-submit" type="submit">Send message</button>
        </form>
        <div class="cs-content">
            <span class="cs-topper">Before you hit send...</span>
            <h2 class="cs-title">Frequently Asked Questions</h2>
            <ul class="cs-faq-group">
                <!-- Active class added as default -->
                <li class="cs-faq-item active">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            What if I’m not sure I’m ready yet?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        That’s totally fine. This isn’t a high-pressure sales call &mdash; it’s a conversation. You can ask questions, explore options, or just get a sense of whether this is right for your next chapter. 
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            Do you offer payment plans?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        It depends. {{ services.strWeb.name }} and {{ services.subWeb.name }} both start with a one-time setup fee and then shift to monthly payments &mdash; so it’s already spaced out. If you need more flexibility, we can discuss options. 
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            Can I just ask a quick question without booking a call?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Absolutely. If you’re more comfortable starting with an email, go for it. I’ll respond within 1&ndash;2 business days.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            What happens after I book a call?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        You’ll get a confirmation with a few short questions to help me prep. When we meet, it’s all about getting to know your goals and seeing if this is a good fit &mdash; no hard sell. 
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>

<script>
    const faqItems = Array.from(document.querySelectorAll('.cs-faq-item'));
        for (const item of faqItems) {
            const onClick = () => {
            item.classList.toggle('active')
        }
        item.addEventListener('click', onClick)
        }
                                
</script>
{% endblock %}
