/* PAGE-SPECIFIC STYLES FOR THE BLOG AND ARTICLE PAGES */
/*-- -------------------------- -->
<---          Events            -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #events-1438 {
    padding: var(--sectionPadding);
    position: relative;
    z-index: 1;
  }
  #events-1438 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 49rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #events-1438 #cs-content-832 {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #events-1438 #cs-content-832 .cs-title,
  #events-1438 #cs-content-832 .cs-text {
    color: var(--textLight);
  }
  #events-1438 #cs-content-832 .cs-topper {
    color: var(--secondary20);
  }
  #events-1438 #cs-content-832 .cs-flex-group {
    /* prevents flexbox from squishing it */
    flex: none;
  }
  #events-1438 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(12, 1fr);
    /* 16px - 20px */
    gap: clamp(1rem, 2vw, 1.25rem);
  }
  #events-1438 li {
    padding-left: 0;
  }
  #events-1438 .cs-item {
    text-align: left;
    list-style: none;
    width: 100%;
    max-width: 44rem;
    background-color: var(--accent70);
    border-radius: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-column: span 12;
    position: relative;
    overflow: hidden;
    transition: box-shadow 0.3s, border-color 0.3s;
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.3));
  }
  #events-1438 .cs-item:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-color: transparent;
  }
  #events-1438 .cs-item:hover .cs-picture img {
    opacity: 0.8;
    transform: scale(1.1);
  }
  #events-1438 .cs-item:hover .cs-h3 {
    color: var(--textLight);
  }
  #events-1438 .nm-card-link {
    list-style: none;
    grid-column: span 12;
    background-color: transparent;
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.3));
  }
  #events-1438 .nm-card-link:hover .cs-picture:before {
    opacity: 0.3;
  }
  #events-1438 .nm-card-link:hover .cs-picture img {
    transform: scale(1.2);
  }
  #events-1438 .nm-card-link:hover .cs-h3 {
    text-decoration: underline;
  }
  #events-1438 .nm-card-link:hover .cs-arrow {
    transform: translateX(0.25rem);
  }
  #events-1438 .cs-picture {
    width: 100%;
    height: 15rem;
    background-color: var(--secondary80);
    display: block;
    position: relative;
    z-index: 1;
    overflow: hidden;
    /* prevents flexbox from squishing it */
    flex: none;
  }
  #events-1438 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.6s, opacity 0.3s;
  }
  #events-1438 .cs-info {
    height: 100%;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    z-index: 2;
  }
  #events-1438 .cs-h3 {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.2em;
    text-align: inherit;
    margin: 0 0 0.75rem 0;
    color: var(--textLight);
    transition: color 0.3s;
  }
  #events-1438 .cs-item-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    font-weight: 400;
    line-height: 1.5em;
    text-align: inherit;
    margin: 0 0 1.25rem;
    color: var(--textLight);
  }
  #events-1438 .cs-arrow {
    width: auto;
    height: 1em;
    transition: transform 0.3s;
    color: var(--secondary40);
    display: flex;
    align-self: flex-start;
  }
  #events-1438 .cs-background {
    width: 100%;
    height: 50%;
    max-height: 28.125rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: var(--primary80);
  }
  #events-1438 .cs-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    top: 0;
    left: 0;
  }
}
/* Tablet - 600px */
@media only screen and (min-width: 37.25rem) {
  #events-1438 .cs-container {
    max-width: 80rem;
  }
  #events-1438 #cs-content-832 {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
  }
  #events-1438 #cs-content-832 .cs-flex-group {
    width: 50%;
  }
  #events-1438 .cs-title {
    margin: 0;
  }
  #events-1438 .cs-item {
    grid-column: span 6;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #events-1438 .cs-item {
    flex-direction: column;
    grid-column: span 4;
  }
  #events-1438 .cs-picture {
    max-width: none;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #events-1438 .cs-title,
  body.dark-mode #events-1438 .cs-text,
  body.dark-mode #events-1438 .cs-h3,
  body.dark-mode #events-1438 .cs-link,
  body.dark-mode #events-1438 .cs-item-text {
    color: var(--textLight);
  }
  body.dark-mode #events-1438 #cs-content-832 .cs-topper {
    color: var(--secondary20);
  }
  body.dark-mode #events-1438 #cs-content-832 .cs-title,
  body.dark-mode #events-1438 #cs-content-832 .cs-text {
    color: var(--textLight);
  }
  body.dark-mode #events-1438 #cs-content-832 .cs-text {
    opacity: 0.8;
  }
  body.dark-mode #events-1438 .cs-text,
  body.dark-mode #events-1438 .cs-item-text {
    opacity: 0.8;
  }
  body.dark-mode #events-1438 .cs-item {
    background-color: var(--medium);
    border-color: rgba(255, 255, 255, 0.2);
  }
  body.dark-mode #events-1438 .cs-item:before {
    opacity: 0.3;
  }
  body.dark-mode #events-1438 .cs-picture {
    border-color: none;
  }
  body.dark-mode #events-1438 .cs-arrow,
  body.dark-mode #events-1438 .cs-floater {
    filter: grayscale(1) brightness(1000%);
  }
  body.dark-mode #events-1438 .cs-background:before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.4;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  body.dark-mode #events-1438 .cs-background img {
    opacity: 0;
  }
}

/*# sourceMappingURL=blog.css.map */
