<aside id="blog-1289" class="related-post" aria-label="Related article">
    <div class="cs-item cs-highlight">
        <a href="/blog/bad-ux/" class="cs-link">
            <picture class="cs-picture">
                <img loading="lazy" decoding="async" src="../../assets/images/blog/bad-ux-m.webp" alt="Fluffy cat squished awkwardly into a clear glass fishbowl. Cute, but not remotely functional." width="270" height="200">
            </picture>
            <div class="cs-flex">
                <span class="cs-topper">Want to go deeper?</span>
                <h2 class="aside-title">{{ blogs.badUX.title }}</h2>
                <p class="cs-item-text">
                    {{ blogs.badUX.description }}
                </p>
            </div>
        </a>
    </div>  
</aside>