<aside id="blog-1289" class="related-post" aria-label="Related article">
    <div class="cs-item cs-highlight">
        <a href="/blog/untemplate-framework/" class="cs-link">
            <picture class="cs-picture">
                <img loading="lazy" decoding="async" src="../../assets/images/blog/storycraft-atlas-m.webp" alt="A calico cat lounging in front of a globe, books, and camera." width="270" height="200">
            </picture>
            <div class="cs-flex">
                <span class="cs-topper">Here's the framework behind this.</span>
                <h2 class="aside-title">{{ blogs.framework.title }}</h2>
                <p class="cs-item-text">
                    {{ blogs.framework.description }}
                </p>
            </div>
        </a>
    </div>  
</aside>