---
title: "Websites with Main Character Energy"
description: "If your website feels like a group project you didn’t ask for, hi. I build sites with story, structure, and strategic chaos."
preloadImg: "/assets/images/index-hero-m.webp"
ogImage: "/assets/images/og/index-og.png"
permalink: "/"
tags: "sitemap" # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
---

{% extends "layouts/base.html" %}

{% block head %}
    {{ super() }}
    <meta property="og:type" content="website" />
    <link rel="stylesheet" href="/assets/css/critical.css"  media="print" onload="this.media='all'; this.onload=null;" />
    <link rel="stylesheet" href="/assets/css/local.css" media="print" onload="this.media='all'; this.onload=null;" />
    <noscript>
        <link rel="stylesheet" href="/assets/css/critical.css" />
        <link rel="stylesheet" href="/assets/css/local.css" />
    </noscript>
    <script defer src="/assets/js/prices.js"></script>
    
    <!-- JSON Schema Markup -->
    <!-- prettier-ignore-start -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
    <!-- prettier-ignore-end -->
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-2149">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">Your website should sound like you &mdash; and sell like hell.</h1>
            <p class="cs-text">
                Templates can’t tell your story. And DIY only gets you so far.<br>
                I build custom websites for coaches, consultants, and creative pros who are done patching things together and ready for a site that finally does the talking.
            </p>
            <a href="/#RPsbsr-576" class="nm-button-secondary">
                Where most websites go wrong
                <img class="cs-arrow" loading="lazy" decoding="async" src="../../assets/svgs/chevron.svg" alt="" width="20" height="20" aria-hidden="true">
            </a>
        </div>
    </div>
    <!-- Background Image -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="assets/images/index-hero-m.webp">
        <source media="(min-width: 601px) and (max-width: 1023px)" srcset="assets/images/index-hero.webp">
        <source media="(min-width: 1024px)" srcset="assets/images/index-hero-w.webp">
        <img fetchpriority="high" loading="eager" decoding="async" src="assets/images/index-hero.webp" alt="A cat wearing glasses, a top hat, and a bowtie sits next to a stack of books and an owl figurine." width="1920" height="1080" aria-hidden="true">
    </picture>
</section>

<!-- ============================================ -->
<!--               Founder Snapshot               -->
<!-- ============================================ -->

<section id="quote-2434">
	<div class="cs-container">
		<div class="cs-content">
			<p class="cs-text">
                I’ve spent most of the past decade managing websites &mdash; first at the State Department, now for solo founders like you.<br>
                My job? Making sure your message actually lands. With real people. In real time.
            </p>
            <p class="cs-text">
                I don’t just build sites. I build systems that reflect who you are, what you do best, and where you're headed.
            </p>
            <p class="cs-text">
                Because when your story is clear, your site finally pulls its weight.
            </p>
            <a href="/blog/why-i-made-storycraft/" class="nm-button-secondary">
                Learn the story behind {{ services.strWeb.name }}
                <img class="cs-arrow" loading="lazy" decoding="async" src="../../assets/svgs/chevron.svg" alt="" width="20" height="20" aria-hidden="true">
            </a>
		</div>
        <span class="cs-name">
            Tianna Hutchins
            <span class="cs-desc">Founder, Neva Masquerade</span>
        </span>
	</div>
	<picture class="cs-background">
		<source media="(max-width: 767px)" srcset="assets/images/founder-snapshot-t.webp" />
		<source media="(min-width: 768px) and (max-width: 1399)" srcset="assets/images/founder-snapshot.webp" />
        <source media="(min-width: 1400px)" srcset="assets/images/founder-snapshot-w.webp" />
		<img loading="lazy" decoding="async" src="assets/images/founder-snapshot.webp" alt="Tianna and her husband posing with umbrellas." width="1920" height="768" aria-hidden="true" />
	</picture>
</section>

<!-- ============================================ -->
<!--                 Insight                      -->
<!-- ============================================ -->

<section id="RPsbsr-576">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="assets/images/index-insights-m.webp">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="assets/images/index-insights.webp">
            <img loading="lazy" decoding="async" src="assets/images/index-insights.webp" alt="A fluffy cat playing with a ball of yarn." width="618" height="537">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">The site isn’t broken. The story is.</span>
            <h2 class="cs-title">Most websites fail, but it’s not why you think.</h2>
            <p class="cs-text">
                It’s not your font. It’s not your layout.<br>
                It’s the <em>lack of clarity</em>.
            </p>
            <p class="cs-text">
                When your site doesn’t say what you do or who it’s for, people bounce. Because they’re confused and unconvinced.
            </p>
            <p class="cs-text">
                Your story isn’t fluff. It’s the foundation.<br>
                Story untangles the yarn and gives your reader a clear thread to follow.
            </p>
            <p class="cs-text">
                That’s why every project starts with strategy and ends with a site that actually works.
            </p>
            <a href="/blog/website-not-converting/" class="nm-button-secondary">
                Why your website isn't converting
                <img class="cs-arrow" loading="lazy" decoding="async" src="../../assets/svgs/chevron.svg" alt="" width="20" height="20" aria-hidden="true">
            </a>
        </div>
    </div>
</section>                  

<!-- ============================================ -->
<!--             Beliefs & Filters                -->
<!-- ============================================ -->

<section id="services-965">
    <div class="cs-container">
        <!-- Left Content Section-->
        <div class="cs-content">
            <span class="cs-topper">Down with gimmicks. Up with guts.</span>
            <h2 class="cs-title">You’re not here to be trendy. You’re here to be trusted.</h2>
            <p class="cs-text">
                I work best with clients who care less about clicks and more about connection. If that’s you, you’ll probably nod along with these beliefs, and if not, that’s okay, too.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="../../assets/svgs/story.svg" alt="" width="40" height="40">
                </picture>
                <h3 class="cs-h3">Story comes first.</h3>
                <p class="cs-item-text">
                    Because people don’t buy services &mdash; they buy stories they believe in.
                </p>
            </li>
            <li class="cs-item">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="../../assets/svgs/warning.svg" alt="" width="40" height="40">
                </picture>
                <h3 class="cs-h3">Templates don’t cut it.</h3>
                <p class="cs-item-text">
                    Your business isn’t plug-and-play. Your website shouldn’t be either.
                </p>
            <li class="cs-item">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="../../assets/svgs/fingerprint.svg" alt="" width="40" height="40">
                </picture>
                <h3 class="cs-h3">Design should support, not distract.</h3>
                <p class="cs-item-text">
                    A good site looks good. A great site leads with intention.
                </p>
            </li>
            <li class="cs-item">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="../../assets/svgs/leaf.svg" alt="" width="40" height="40">
                </picture>
                <h3 class="cs-h3">You shouldn’t have to do it all.</h3>
                <p class="cs-item-text">
                    Strategy, copy, code &mdash; I handle the hard parts, so you can focus on yours.
                </p>
            </li>
            <li class="cs-item">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="../../assets/svgs/browser-gear.svg" alt="" width="40" height="40">
                </picture>
                <h3 class="cs-h3">Support shouldn’t vanish after launch.</h3>
                <p class="cs-item-text">
                    I stick around. To update, refresh, and make sure your site keeps working.
                </p>
            </li>
            <li class="cs-item">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="../../assets/svgs/lightbulb.svg" alt="" width="40" height="40">
                </picture>
                <h3 class="cs-h3">Clarity creates confidence.</h3>
                <p class="cs-item-text">
                    You can’t sell what you can’t say.
                </p>
            </li>
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--                Bridge Section                -->
<!-- ============================================ -->

<section id="sbs-578">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 767px)" srcset="assets/images/index-bridge-m.webp">
            <!--Tablet and above Image-->
            <source media="(min-width: 768px)" srcset="assets/images/index-bridge.webp">
            <img loading="lazy" decoding="async" src="assets/images/index-bridge.webp" alt="A cat wearing round sunglasses and a bowtie." width="494" height="700">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">What makes a site actually work? (This.)</span>
            <h2 class="cs-title">A pretty site is nice. A strategic one sells.</h2>
            <p class="cs-text">
                Your site isn’t just a digital business card. It’s a conversion tool.<br>
                And when every page aligns with your voice, values, and offer? That’s when things click. 
            </p>
            <ul>
                <li><em>Strategy</em> makes sure your site speaks to the right people</li>
                <li><em>Story</em> builds trust &mdash; and makes you memorable</li>
                <li><em>Structure</em> guides your reader toward action</li>
            </ul>
            <p class="cs-text">
                Every page has a purpose.<br>
                Every section has a role.<br>
                Every pixel has a job.
            </p>
            <p class="cs-text">
                That’s how my process takes us from “meh” to magnetic.
            </p>
            <a href="/blog/storycraft-atlas/" class="nm-button-secondary">
                How it works
                <img class="cs-arrow" loading="lazy" decoding="async" src="../../assets/svgs/chevron.svg" alt="" width="20" height="20" aria-hidden="true">
            </a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                   Offer                      -->
<!-- ============================================ -->

<section id="pricing-1319">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Step away from the templates.</span>
            <h2 class="cs-title">Custom websites for solos done with DIY.</h2>
            <p class="cs-text">
                Whether your current site is clunky, outdated, or just not quite “you,” we can fix that.
            </p>
            <p class="cs-text">
                I offer three strategic, story-first paths to a website that reflects your expertise and earns its keep.
            </p>
            <a href="/services/" class="nm-button-secondary">
                Explore my services
                <img class="cs-arrow" loading="lazy" decoding="async" src="../../assets/svgs/chevron.svg" alt="" width="20" height="20" aria-hidden="true">
            </a>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <span class="cs-package">{{ services.subWeb.name }}</span>
                <span class="cs-desc">Fast, clean, and designed to grow with you.</span>
                <span class="cs-price">${{ services.subWeb.fee }} +</span>
                <span class="cs-price">
                    ${{ services.subWeb.price }}
                    <span class="cs-duration">&nbsp;/Month</span>
                </span>
                <p class="nm-footer">
                    For founders with clear messaging who just want it built and managed.
                </p>
                <a href="/frame/" class="cs-button-transparent">Meet<br>{{ services.subWeb.name }}</a>
            </li>
            <li class="cs-item cs-popular">
                <span class="cs-package">{{ services.strWeb.name }}</span>
                <span class="cs-desc">Strategy, story, and site all done for you.</span>
                <span class="cs-price">${{ services.strWeb.fee }} +</span>
                <span class="cs-price">
                    ${{ services.strWeb.price }}
                    <span class="cs-duration">&nbsp;/Month</span>
                </span>
                <p class="nm-footer">
                    For founders ready to stop patching and start showing up fully online.
                </p>
                <a href="/storycraft/" class="cs-button-transparent">Explore<br>{{ services.strWeb.name }}</a>
            </li>
            <li class="cs-item">
                <span class="cs-package">{{ services.stdWeb.name }}</span>
                <span class="cs-desc">Show up sharper, clearer, and more confident.</span>
                <span class="cs-price">
                    ${{ services.stdWeb.price }}
                </span>
                <p class="nm-footer">
                    For founders who love their site but need strategy and words that convert.
                </p>
                <a href="/voice/" class="cs-button-transparent">Discover<br>{{ services.stdWeb.name }}</a>
            </li>
        </ul>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 767px)" srcset="/assets/textures/index-offer-m.svg">
        <!--Tablet and above Image-->
        <source media="(min-width: 768px)" srcset="/assets/textures/price-texture.webp">
        <img loading="lazy" decoding="async" src="/assets/textures/price-texture.webp" alt="" width="1400" height="789">
    </picture>
</section>

<!-- ============================================ -->
<!--             Alignment Filter                 -->
<!-- ============================================ -->

<section id="RPsbs-576">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="assets/images/index-filter-m.webp">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="assets/images/index-filter.webp">
            <img loading="lazy" decoding="async" src="assets/images/index-filter.webp" alt="Two cats playing chess, the one on the right has its mouth open and is giving off 'don't mess with me' vibes." width="618" height="537">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">Like an acquired taste</span>
            <h2 class="cs-title">This ain't for everyone. And that’s intentional.</h2>
            <p class="cs-text">
                Not a big agency. Not a flaky freelancer. Just one very strategic cat person.
            </p>
            <p class="cs-text">
                If you just want a few quick tweaks&hellip;<br>
                If you only care about aesthetics&hellip;<br>
                If you’re looking for the cheapest option out there&hellip;
            </p>
            <p class="cs-text">
                We’re probably not a fit.
            </p>
            <p class="cs-text">
                My work is for founders who want their website to reflect <em>who they really are</em> &mdash; and who are ready to collaborate to make that happen.
            </p>
            <p class="cs-text">
                If that's you, let's talk. 
            </p>
            <a class="cs-button-solid" href="https://calendly.com/tianna-nevamasquerade/storycrafted-sites-discovery-call">
                {% ButtonIcon %}
                Start Your Story
            </a>
        </div>
    </div>
</section> 
                                
<!-- ============================================ -->
<!--                    CTA                       -->
<!-- ============================================ -->

<section id="cta-403">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Your story deserves a stronger stage.</h2>
            <p class="cs-text">
                No more hiding the link. No more apologizing for your site. Let’s build the version of your site you’ve been thinking about &mdash; the one that finally does the talking.
            </p>
            <a class="cs-button-solid" href="https://calendly.com/tianna-nevamasquerade/storycrafted-sites-discovery-call">
                {% ButtonIcon %}
                Start Your Story
            </a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="assets/images/book-call-cta-m.webp">
        <source media="(min-width: 601px) and (max-width: 1399px)" srcset="assets/images/book-call.webp">
        <source media="(min-width: 1400px)" srcset="assets/images/book-call-w.webp">
        <img loading="lazy" decoding="async" src="assets/images/book-call-cta.webp" alt="A cat looking at a smartphone." width="1920" height="660" aria-hidden="true">
    </picture>
</section>
                            
{% endblock %}
