/*-- -------------------------- -->
<---        Blog Articles       -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    .blog-article {
        display: block;
        max-width: calc(795 / 16 * 1em);
        width: 100%;
        padding: 0 1rem;

        #blog-content {

            margin-top: calc(16 / 16 * 1em);

            .cs-button-solid {
                margin: 1rem 0;
            }

            h1 {
                margin-bottom: 1rem;
                font-size: 2.25rem;
                line-height: 1.75em;
                font-weight: 400;
            }

            h2 {
                margin-bottom: calc(16 / 16 * 1rem);
                font-size: calc(28 / 16 * 1rem);
                line-height: 1.3em;
                font-weight: 400;
            }

            h3 {
                margin-bottom: calc(16 / 16 * 1rem);
                font-size: calc(24 / 16 * 1rem);
                line-height: 1.3em;
                font-weight: 400;
            }

            h4,
            h5,
            h6 {
                margin-bottom: calc(16 / 16 * 1rem);
                font-size: calc(20 / 16 * 1rem);
                line-height: 1.3em;
                font-weight: 400;
            }

            p {
                margin: 0;
                margin-bottom: calc(16 / 16 * 1rem);
                font-size: calc(16 / 16 * 1rem);
                line-height: 1.6em;
            }

            ul,
            ol {
                margin: 0 0 calc(16 / 16 * 1rem) 0;
                padding-left: 1.5rem;

                li {
                    margin-bottom: calc(16 / 16 * 1rem);
                    list-style-position: outside;
                    font-size: calc(16 / 16 * 1rem);
                    line-height: 1.6em;
                }
            }

            img {
                display: block;
                margin: 0;
                height: auto;
                width: 100%;
            }

            hr {
                margin: 2rem 0 1.5rem 0;
                background-color: var(--secondary60);
                border: none;
                height: 1px;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    
    .nm-two-column-list {
        columns: 2;
        column-gap: 2rem;
        
        li {
            break-inside: avoid;
        }
    }

    .nm-three-column-list {
        columns: 3;
        column-gap: 2rem;
        
        li {
            break-inside: avoid;
        }
    }    
    
    .nm-four-column-list {
        columns: 4;
        column-gap: 2rem;
        
        li {
            break-inside: avoid;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        background: var(--dark);
        
        .blog-author,
        .blog-date {
            color: var(--textLight);
        }

        .blog-dot {
            background-color: var(--secondary40);
        }

        .blog-h1 {
            color: var(--textLight);
        }

        #blog-content {
            border-top: 1px solid var(--secondary40);
            margin-top: calc(16 / 16 * 1em);
            padding-top: calc(25 / 16 * 1em);

            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            p {
                color: var(--textLight);
            }

            

            li {
                color: var(--textLight);
            }
        }

        .cs-button-solid {
            color: var(--dark);
        }

        #cs-navigation {
            background: var(--medium);

            .cs-button-solid {
                background: var(--secondary20);
                color: var(--dark);

                &:hover {
                    color: var(--textLight);
                    background: var(--accent50);
                }

                &:before {
                    background: var(--accent50);
                }
            }
        }
    }
}

/*-- -------------------------- -->
<---          Banner            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #banner-1106 {
        padding: var(--sectionPadding);
        padding-top: calc(180 / 16 * 1rem);
        padding-bottom: calc(120 / 16 * 1rem);
        /* clips the line from causing overflow issues for going off screen */
        overflow: hidden;
        position: relative;
        z-index: 1;

        .cs-container {
            text-align: center;
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            gap: calc(12 / 16 * 1rem);
        }

        .cs-int-title {
            /* 39px - 61px */
            font-family: var(--headerFont);
            font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
            font-weight: 400;
            line-height: 1.2em;
            text-align: left;
            margin: 0;
            color: var(--textLight);
            position: relative;
            font-variant-numeric: lining-nums;
        }

        .blog-authorGroup {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: calc(12 / 16 * 1rem);
            padding-bottom: 2rem;
        }

        .blog-author,
        .blog-date {
            font-family: var(--smallCaps);
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.5em;
            font-weight: 300;
            font-variant-numeric: lining-nums;
            letter-spacing: 3px;
            text-transform: uppercase;
            color: var(--textLight);
            opacity: .8;
            padding: 1rem 0;
        }

        .blog-dot {
            display: block;
            border-radius: 50%;
            background-color: var(--secondary40);
            height: 6px;
            width: 6px;
        }

        .cs-background {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            &:before {
                /* background color overlay */
                content: "";
                position: absolute;
                display: block;
                height: 100%;
                width: 100%;
                background: -moz-linear-gradient(
                    left,
                    rgba(18, 38, 51, 0.7) 0%,
                    rgba(18, 38, 51, 0.2) 100%
                ); /* FF3.6-15 */
                background: -webkit-linear-gradient(
                    left,
                    rgba(18, 38, 51, 0.7) 0%,
                    rgba(18, 38, 51, 0.2) 100%
                ); /* Chrome10-25,Safari5.1-6 */
                opacity: 1;
                top: 0;
                left: 0;
                z-index: 1;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* Makes img tag act as a background image */
                object-fit: cover;
            }
        }
    }
}

/*-- -------------------------- -->
<---       Featured Image       -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    .nm-featured-image {
        width: 100%;
        height: auto;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        z-index: 2;
    }
    
    .blog-mainImage {
        display: block;
        position: relative;
        width: 100%;
        height: auto;
        aspect-ratio: 16 / 9;

        img {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    .nm-featured-image {
        margin-top: -5rem;
    }
    .blog-mainImage {
        max-width: calc(1280 / 16 * 1rem);
        margin-top: 0;

        &::before {
            content: "";
            width: 105%;
            height: 70%;
            background-color: var(--secondary40);
            opacity: 1;
            display: block;
            position: relative;
            top: calc(2rem * -1);
            left: calc(2rem * -1);
        }
    }
} 

/*-- -------------------------- -->
<---        Main Content        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    

    

    .main-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        row-gap: calc(50 / 16 * 1em);
        margin: 2rem 0 5rem 0;
    }
}

/* Tablet - 1024px */
@media only screen and (min-width: 64rem) {
    .main-content-wrapper {
        flex-direction: row;
        align-items: flex-start;
        column-gap: calc(20 / 16 * 1em);
    }
}


/*-- -------------------------- -->
<---        Blog Feature        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #blog-1289 {
        margin: 2rem 0;

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: calc(550 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-flex-group {
            /* prevents flexbox from squishing it */
            flex: none;
        }



        .related-post {
            padding: 0;
            margin: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            /* 16px - 20px */
            gap: clamp(1rem, 2vw, 1.25rem);
        }


        .cs-item {
            list-style: none;
            grid-column: span 12;
            background-color: var(--accent70);
            filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, .3));


            &:hover {
                .cs-picture {

                    img {
                        transform: scale(1.2);
                        opacity: .9;
                    }
                }

                .cs-h3 {
                    text-decoration: underline;
                }
            }
        }

        .cs-highlight {
            .cs-flex {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

            }

            .cs-h3 {
                padding: 0 1.5rem;
            }
        }

        .cs-link {
            text-decoration: none;
            font-weight: 400;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: calc(16 / 16 * 1rem);
            color: var(--textDark)
        }

        .cs-picture {
            width: 100%;
            /* 200px - 270px */
            height: clamp(12.5rem, 25vw, 16.875rem);
            border-radius: 0;
            /* clips the corners of the img tag */
            overflow: hidden;
            display: block;
            position: relative;
            z-index: 1;

            &:before {
                content: "";
                width: 100%;
                height: 100%;
                background: var(--secondary90);
                mix-blend-mode: multiply;
                opacity: 0;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                z-index: 2;
                transition: opacity 0.3s;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                transition:
                    transform 0.65s,
                    filter 0.4s;
            }
        }

        .cs-topper {
            padding: 0 1.5rem;
            font-size: .75rem;
            color: var(--textLight);

        }

        .aside-title {
            margin: 0;
            padding: 0 1.5rem 0 1.5rem;
            color: var(--textLight);
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            text-align: inherit;
            padding:0 1.5rem 0 1.5rem;
            margin: 0;
            color: var(--textLight);
            display: block;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #blog-1289 {
        width: 100%;

        

        .cs-item {
            display: block;
        }

        .cs-highlight {
            .cs-link {
                flex-direction: row;
                align-items: stretch;
            }

            .cs-flex {
                align-self: center;
                padding: 1rem 0;
            }

            .cs-picture {
                /* 300px - 400px */
                min-height: calc(200 / 16 * 1rem);
                height: auto;
                width: 50%;
                /* prevents flexbox from squishing it */
                flex: none;
            }
        }
    }
}



/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #blog-1289 {
            .cs-title,
            .cs-text,
            .cs-h3,
            .cs-item-text {
                color: var(--textLight);
            }

            .cs-item {
                background-color: var(--medium);
            }

            .cs-item-text {
                opacity: 0.8;
            }

            .cs-date {
                color: var(--secondary10);
            }

            .cs-topper {
                color: var(--secondary20);
            }

            .cs-item {
                background-color: var(--medium);
            }

            .cs-link {
                color: var(--textLight)
            }
        }
    }
}


                                