/* PAGE-SPECIFIC STYLES FOR THE BLOG AND ARTICLE PAGES */

/*-- -------------------------- -->
<---          Events            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #events-1438 {
        padding: var(--sectionPadding);
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: calc(784 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        #cs-content-832 {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;

            .cs-title,
            .cs-text {
                color: var(--textLight);
            }

            .cs-topper {
                color: var(--secondary20)
            }

            .cs-flex-group {
                /* prevents flexbox from squishing it */
                flex: none;
            }
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: grid;
            justify-items: center;
            grid-template-columns: repeat(12, 1fr);
            /* 16px - 20px */
            gap: clamp(1rem, 2vw, 1.25rem);
        }

        li {
            padding-left: 0; 
        }

        .cs-item {
            text-align: left;
            list-style: none;
            width: 100%;
            max-width: calc(704 / 16 * 1rem);
            background-color: var(--accent70);
            border-radius: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            grid-column: span 12;
            position: relative;
            overflow: hidden;
            transition: box-shadow 0.3s, border-color 0.3s;
            filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, .3));


            &:hover {
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                border-color: transparent;

                .cs-picture {
                    img {
                        opacity: 0.8;
                        transform: scale(1.1);
                    }
                }

                .cs-h3 {
                    color: var(--textLight);
                }
            }
        }

        .nm-card-link {
            list-style: none;
            grid-column: span 12;
            background-color: transparent;
            filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, .3));


            &:hover {
                .cs-picture {
                    &:before {
                        opacity: .3;
                    }

                    img {
                        transform: scale(1.2);
                    }
                }

                .cs-h3 {
                    text-decoration: underline;
                }

                .cs-arrow {
                    transform: translateX(0.25rem);
                }
            }
        }

        .cs-picture {
            width: 100%;
            height: calc(240 / 16 * 1rem);
            background-color: var(--secondary80);
            display: block;
            position: relative;
            z-index: 1;
            overflow: hidden;
            /* prevents flexbox from squishing it */
            flex: none;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                transition: transform 0.6s, opacity 0.3s;
            }
        }

        .cs-info {
            height: 100%;
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            padding: calc(24 / 16 * 1rem);
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            position: relative;
            z-index: 2;
        }

        .cs-h3 {
            font-size: calc(20 / 16 * 1rem);
            font-weight: 400;
            line-height: 1.2em;
            text-align: inherit;
            margin: 0 0 calc(12 / 16 * 1rem) 0;
            color: var(--textLight);
            transition: color 0.3s;
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            font-weight: 400;
            line-height: 1.5em;
            text-align: inherit;
            margin: 0 0 calc(20 / 16 * 1rem);
            color: var(--textLight);
        }

        .cs-arrow {
            width: auto;
            height: 1em;
            transition: transform 0.3s;
            color: var(--secondary40);
            display: flex;
            align-self: flex-start;
        }

        .cs-background {
            width: 100%;
            height: 50%;
            max-height: calc(450 / 16 * 1rem);
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            background-color: var(--primary80);

            

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                opacity: 0;
                top: 0;
                left: 0;
            }
        }
    }
}

/* Tablet - 600px */
@media only screen and (min-width: 37.25rem) {
    #events-1438 {
        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
        }

        #cs-content-832 {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: calc(48 / 16 * 1rem);

            .cs-flex-group {
                width: 50%;
            }
        }

        .cs-title {
            margin: 0;
        }

        .cs-item {
            grid-column: span 6;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #events-1438 {
        .cs-item {
            flex-direction: column;
            grid-column: span 4;
        }

        .cs-picture {
            max-width: none;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #events-1438 {
            .cs-title,
            .cs-text,
            .cs-h3,
            .cs-link,
            .cs-item-text {
                color: var(--textLight);
            }

            #cs-content-832 {
                .cs-topper {
                    color: var(--secondary20);
                }
                .cs-title,
                .cs-text {
                    color: var(--textLight);
                }

                .cs-text {
                    opacity: 0.8;
                }
            }

            .cs-text,
            .cs-item-text {
                opacity: 0.8;
            }

            .cs-item {
                background-color: var(--medium);
                border-color: rgba(255, 255, 255, 0.2);
                &:before {
                    opacity: 0.3;
                }
            }

            .cs-picture {
                border-color: none;
            }

            .cs-arrow,
            .cs-floater {
                filter: grayscale(1) brightness(1000%);
            }

            .cs-background {
                &:before {
                    content: "";
                    width: 100%;
                    height: 100%;
                    background-color: #000;
                    opacity: 0.4;
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
                }

                img {
                    opacity: 0;
                }
            }
        }
    }
}
                                

