/* PAGE-SPECIFIC STYLES FOR THE CONTACT PAGE */

/*-- -------------------------- -->
<---          Options           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-2175 {
        margin: auto;
        position: relative;
        z-index: 10;
        background-color: var(--primary80);

        &:before {
            /* background color */
            content: '';
            width: 100vw;
            height: 100%;
            opacity: 1;
            position: absolute;
            display: block;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }

        .cs-container {
            width: 100%;
            
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-card-group {
            width: 100%;
            max-width: calc(1312/16 * 1rem);
            margin: 0;
            /* 60px - 100px top & bottom */
            /* 16px - 100px left and right */
            padding: clamp(3.75rem, 7vw, 6.25rem) 1rem;
            /* prevents padding from affecting height and width */
            box-sizing: border-box;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            row-gap: calc(32/16 * 1rem);
            position: relative;
            z-index: 15;
        }

        .cs-item {
            text-align: left;
            list-style: none;
            width: 100%;
            box-sizing: border-box;
            grid-column: span 12;
            transition: background-color .3s;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
        }

        .cs-icon {
            width: calc(32/16 * 1rem);
            height: auto;
        }

        .cs-h3 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2vw, 1.5625rem);
            font-weight: 400;
            text-align: inherit;
            line-height: 1.2em;
            margin: 0;
            color: var(--textLight);
            display: flex;
            align-items: center;
            gap: calc(8/16 * 1rem);
            transition: color .3s;
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(.875rem, 1.5vw, 1rem);
            font-weight: 400;
            text-align: inherit;
            line-height: 1.5em;
            margin: 1rem 0 .5rem 0;
            color: var(--textLight);
            opacity: .8;
            transition: color .3s, opacity .3s;
        }

        .nm-button-secondary {
            color: var(--textLight);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-2175 {
        .cs-content {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: calc(48/16 * 1rem);
        }

        .cs-title {
            margin: 0;
        }

        .cs-card-group {
            /* 32px - 60px */
            column-gap: clamp(2rem, 6vw, 3.75rem);
        }

        .cs-flex-group {
            width: 50%;
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-item {
            grid-column: span 6;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #services-2175 {
            background-color: var(--dark);
        }
    }
}

/*-- -------------------------- -->
<---       Contact  & FAQ       -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #contact-1333 {
        padding: var(--sectionPadding);
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: calc(584 / 16 * 1rem);
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: stretch;
            flex-direction: column;
            /* 48px - 80px */
            gap: clamp(3rem, 6vw, 5rem);
            position: relative;
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-title {
            max-width: 23ch;
            margin: 0 0 calc(28 / 16 * 1rem) 0;
        }

        .cs-form {
            width: 100%;
            max-width: calc(650 / 16 * 1rem);
            /* 32px - 48px top and bottom */
            /* 16px - 60px left and right */
            padding: clamp(2rem, 5.18vw, 3rem) clamp(1rem, 5vw, 3.75rem);
            /* prevents flexbox from affecting height and width */
            box-sizing: border-box;
            background-color: var(--primary70);
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
            /* prevents flexbox from squishing it */
            flex: none;
            gap: calc(12 / 16 * 1rem);
            order: 2;

            .cs-title {
                /* 16px - 28px */
                margin: 0 0 clamp(1rem, 3vw, 1.75rem) 0;
                color: var(--textLight);
            }

            .cs-topper {
                color: var(--secondary20);
            }

            .cs-text {
                color: var(--textLight);
            }
        }

        .cs-label {
            /* 14px - 16px */
            font-family: var(--smallCaps);
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            text-transform: uppercase;
            letter-spacing: 2px;
            width: 100%;
            color: var(--textLight);
            margin-top: 1.5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: calc(4 / 16 * 1rem);
        }

        .cs-input {
            font-size: calc(16 / 16 * 1rem);
            width: 100%;
            height: calc(56 / 16 * 1rem);
            padding: 0;
            padding-left: calc(16 / 16 * 1rem);
            color: var(--textDark);
            background-color: var(--textLight);
            border: none;
            /* prevents padding from adding to height and width */
            box-sizing: border-box;
            &::placeholder {
                color: var(--textMid);
                opacity: 0.6;
                font-family: var(--bodyFont);
            }
        }

        .cs-textarea {
            min-height: calc(120 / 16 * 1rem);
            padding-top: calc(24 / 16 * 1rem);
            /* 16px - 28px */
            margin: 0 0 clamp(1rem, 3vw, 1.75rem) 0;
            font-family: var(--bodyFont);
        }

        .cs-submit {
            border: none;
            &:hover {
                cursor: pointer;
            }
        }

        .cs-faq-group {
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .cs-faq-item {
            list-style: none;
            width: 100%;
            border-bottom: 1px solid var(--secondary40);
            transition: border-bottom 0.3s;

            &.active {
                border-color: var(--accent50);
                .cs-button {
                    color: var(--textDark);
                    &:before {
                        background-color: var(--accent50);
                        transform: rotate(315deg);
                    }
                    &:after {
                        background-color: var(--accent50);
                        transform: rotate(-315deg);
                    }
                }
                .cs-item-p {
                    height: auto;
                    /* 20px - 24px bottom */
                    /* 16px - 24px left & right */
                    padding: 0 clamp(1rem, 2vw, 1.5rem)
                        clamp(1.25rem, 2vw, 1.5rem) 0;
                    opacity: 1;
                }
            }
        }

        .cs-button {
            font-family: var(--headerFont);
            font-size: calc(20 / 16 * 1rem);
            line-height: 1.2em;
            text-align: left;
            /* 16px - 24px */
            padding: clamp(1rem, 2vw, 1.5rem);
            padding-left: 0;
            border: none;
            background: transparent;
            color: var(--textDark);
            display: block;
            width: 100%;
            position: relative;
            transition:
                background-color 0.3s,
                color 0.3s;

            &:hover {
                cursor: pointer;
            }

            &:before {
                /* left line */
                content: "";
                width: calc(8 / 16 * 1rem);
                height: calc(2 / 16 * 1rem);
                background-color: var(--secondary40);
                opacity: 1;
                border-radius: 50%;
                position: absolute;
                display: block;
                top: 45%;
                right: calc(24 / 16 * 1rem);
                transform: rotate(45deg);
                /* animate the transform from the left side of the x axis, and the center of the y */
                transform-origin: left center;
                transition: transform 0.5s;
            }

            &:after {
                /* right line */
                content: "";
                width: calc(8 / 16 * 1rem);
                height: calc(2 / 16 * 1rem);
                background-color: var(--secondary40);
                opacity: 1;
                border-radius: 50%;
                position: absolute;
                display: block;
                top: 45%;
                right: calc(21 / 16 * 1rem);
                transform: rotate(-45deg);
                /* animate the transform from the right side of the x axis, and the center of the y */
                transform-origin: right center;
                transition: transform 0.5s;
            }
        }

        .cs-button-text {
            width: 80%;
            display: block;
        }

        .cs-item-p {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            width: 90%;
            height: 0;
            margin: 0;
            /* 16px - 24px */
            padding: 0 clamp(1rem, 2vw, 1.5rem);
            opacity: 0;
            color: var(--textDark);
            /* clips the text so it doesn't show up */
            overflow: hidden;
            transition:
                opacity 0.3s,
                padding-bottom 0.3s;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #contact-1333 {
        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .cs-form {
            width: 45vw;
            order: -1;
        }

        .cs-submit {
            width: auto;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #contact-1333 {
            background-color: var(--medium);

            .cs-title,
            .cs-item-p,
            .cs-button,
            label {
                color: var(--textLight);
            }

            .cs-form {
                background-color: var(--dark);
            }

            .cs-button {
                &:before,
                &:after {
                    background-color: var(--secondary40);
                }
            }

            .cs-item-p {
                opacity: 0.8;
                color: var(--textLight);
            }

            .cs-graphic {
                opacity: 0.4;
            }

            .cs-faq-item {

                &.active {
                    border-color: var(--primary10);
                    .cs-button {
                        color: var(--textLight);

                        &:before {
                            background-color: var(--primary10);
                        }

                        &:after {
                            background-color: var(--primary10);
                        }
                    }
                }
            }

            .cs-button {
                color: var(--textLight);
            }
        }
    }
}
