/*-- -------------------------- -->
<---          Banner            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #banner-1106 {
        padding: var(--sectionPadding);
        padding-top: calc(180 / 16 * 1rem);
        padding-bottom: calc(120 / 16 * 1rem);
        /* clips the line from causing overflow issues for going off screen */
        overflow: hidden;
        position: relative;
        z-index: 1;

        .cs-container {
            text-align: center;
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            gap: calc(12 / 16 * 1rem);
        }

        .cs-int-title {
            /* 39px - 61px */
            font-family: var(--headerFont);
            font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
            font-weight: 400;
            line-height: 1.2em;
            text-align: left;
            margin: 0;
            color: var(--textLight);
            position: relative;
            font-variant-numeric: lining-nums;
        }

        .nm-subhead {
            font-size: clamp(1.125rem, 2vw, 1.25rem);
            text-align: left;
            color: var(--textLight);
        }

        .cs-text {
            color: var(--textLight);
        }

        .light-mode {
            display: block;
        }

        .dark-mode {
            display: none;
        }
        .cs-background {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            &:before {
                /* background color overlay */
                content: "";
                position: absolute;
                display: block;
                height: 100%;
                width: 100%;
                background: -moz-linear-gradient(
                    left,
                    rgba(25, 7, 5, 0.5) 0%,
                    rgba(25, 7, 5, 0) 100%
                ); /* FF3.6-15 */
                background: -webkit-linear-gradient(
                    left,
                    rgba(25, 7, 5, 0.5) 0%,
                    rgba(25, 7, 5, 0) 100%
                ); /* Chrome10-25,Safari5.1-6 */
                opacity: 1;
                top: 0;
                left: 0;
                z-index: 1;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* Makes img tag act as a background image */
                object-fit: cover;
            }
        }
    }
}

/*-- -------------------------- -->
<---        Content Page        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #content-page-851 {
        padding: var(--sectionPadding);
        background-color: var(--textLight);
        /* clips the wave background from causing overflow issues when it goes off screen */
        overflow: hidden;
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            position: relative;
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: calc(738 / 16 * 1rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-weight: 400;
            text-align: inherit;
            margin: 0 0 calc(16 / 16 * 1rem) 0;
            color: var(--textDark);
        }

        h2 {
            font-size: calc(32 / 16 * 1rem);
            margin-top: calc(32 / 16 * 1rem);
        }

        h3 {
            font-size: calc(24 / 16 * 1rem);
        }

        h4,
        h5,
        h6 {
            font-size: calc(20 / 16 * 1rem);
        }

        .cs-button-solid {
            margin-bottom: calc(32 / 16 * 1rem);
        }

        .cs-no-margin {
            margin: 0;
        }

        .cs-color {
            color: var(--primary70);
        }

        p {
            font-size: var(--bodyFontSize);
            line-height: 1.5em;
            text-align: inherit;
            width: 100%;
            margin: 0 0 calc(16 / 16 * 1rem) 0;
            color: var(--textDark);
            &:last-of-type {
                margin-bottom: calc(32 / 16 * 1rem);
            }

            a {
                font-size: inherit;
                line-height: inherit;
                text-decoration: underline;
                color: var(--primary70);
            }
        }

        ol,
        ul {
            padding-left: calc(24 / 16 * 1rem);
            margin: 0 0 calc(32 / 16 * 1rem) 0;
            color: var(--textDark);
            display: flex;
            flex-direction: column;
            gap: calc(16 / 16 * 1rem);
        }

        ul {
            li {
                list-style: none;
                color: inherit;
                position: relative;

                &:before {
                    /* custom list bullet */
                    content: "";
                    width: 3px;
                    height: 3px;
                    background: currentColor;
                    opacity: 1;
                    border-radius: 50%;
                    position: absolute;
                    display: block;
                    top: calc(10 / 16 * 1rem);
                    left: calc(-12 / 16 * 1rem);
                }
            }
        }

        img {
            width: 100%;
            height: auto;
            display: block;
        }

        .cs-image-group {
            width: 50%;
            max-width: calc(433 / 16 * 1rem);
            display: none;
            flex-direction: column;
            gap: calc(20 / 16 * 1rem);
            position: relative;

            &:after {
                /* colored box */
                content: "";
                width: 100%;
                /* 177px - 258px */
                height: clamp(11.0625rem, 19vw, 16.125rem);
                background: var(--primary70);
                border-radius: 0 calc(100 / 16 * 1rem) 0 calc(100 / 16 * 1rem);
                opacity: 0.15;
                display: block;
            }
        }

        .cs-picture {
            width: 100%;
            /* 300px - 520px */
            height: clamp(18.75rem, 40vw, 32.5rem);
            box-shadow: 0px 3.3478px 50.2169px rgba(0, 0, 0, 0.16);
            /* 125px - 200px */
            border-radius: clamp(7.8125rem, 15vw, 12.5rem) 0
                clamp(7.8125rem, 15vw, 12.5rem) 0;
            /* prevents border from affecting height and width */
            box-sizing: border-box;
            /* clips img tag corners */
            overflow: hidden;
            display: block;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                /* makes it act like a background image */
                object-fit: cover;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #content-page-851 {
        .cs-container {
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
        }

        .cs-content {
            flex: none;
            width: 60%;
        }

        .cs-image-group {
            display: flex;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #content-page-851 {
            background-color: var(--dark);

            .cs-title,
            .cs-text,
            h2,
            h3,
            h4,
            h5,
            h6,
            li,
            p {
                color: var(--textLight);
            }
            .cs-color,
            a {
                color: var(--primary10);
            }

            p,
            li {
                color: var(--textLight);
            }

            .cs-picture {
                border-color: var(--dark);
                background-color: var(--dark);
            }
        }
    }
}

                                