/* STYLES FOR ABOVE THE FOLD */

/*-- -------------------------- -->
<---       Hero (Immpact)       -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #hero-2149 {
        /* 300px - 400px on top - leaving extra space for the navigation */
        /* 60px - 100px on bottom */
        margin-top: 60px;
        padding: clamp(4.75rem, 30vw, 14.5rem) calc(16/16 * 1rem) clamp(1.75rem, 10vh, 3.25rem) calc(16/16 * 1rem);
        /* prevents the topper line from causing an overflow */
        overflow: hidden;
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            max-width: calc(1280/16 * 1rem);
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .cs-content {
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .cs-title {
            /* 39px - 61px */
            font-size: clamp(2.4375rem, 5vw, 3.8125rem);
            max-width: 30ch;
        }

        .cs-topper {
            color: var(--secondary);
        }

        .cs-title,
        .cs-text {
            color: var(--textLight);
        }

        .cs-text {
            /* 16px - 20px */
            font-size: clamp(1rem, 2vw, 1.25rem);
            max-width: 55ch;
            margin-bottom: calc(32/16 * 1rem);
            opacity: 0.8;
        }

        .nm-button-secondary {
            color: var(--textLight);
        }

        .cs-background {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -2;

            &:before {
                /* Overlay */
                content: "";
                width: 100%;
                height: 100%;
                background: linear-gradient(0deg, rgba(0, 0, 0, .7) 50%, rgba(0, 0, 0, 0.3) 100%);
                /* prevents the cursor from interacting with it */
                pointer-events: none;
                opacity: 1;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #hero-2149 {
        margin-top: 100px;
        max-height: 95vh;

        .cs-background {

            &:before {
                /* Overlay */
                content: "";
                background: linear-gradient(0deg, rgba(0, 0, 0, .8) 0%, rgba(0, 0, 0, 0.3) 100%);
                /* prevents the cursor from interacting with it */
                pointer-events: none;
                opacity: 1;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
            }
        }
    }
}


/*-- -------------------------- -->
<---        Hero (Clarity)      -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #hero-288 {
        /* 116px - 164px top */
        /* 60px - 100px  bottom */
        padding-bottom: clamp(3.75rem, 7.82vw, 6.25rem);
        position: relative;
       

        .cs-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            height: auto;
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .cs-content {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            width: 100%;
            padding: 8rem 1rem 7rem 1rem;
            background-color: var(--secondary);
            z-index: 0;
        }

        .cs-topper {
            text-wrap: balance;
        }

        .cs-title {
            /* 39px - 61px */
            font-size: clamp(2.25rem, 5vw, 3rem);
            line-height: 1.1em;
            text-align: center;
            max-width: calc(768 / 16 * 1rem);
            margin: 0 0 calc(16 / 16 * 1rem) 0;
            color: var(--accent600);
            position: relative;
        }

        .cs-text {
            /* 16px - 20px */
            font-size: clamp(1.125rem, 1.5vw, 1.25rem);
            line-height: 1.5em;
            text-align: center;
            width: 100%;
            max-width: calc(768 / 16 * 1rem);
            margin: 0 auto;
            /* 28px - 40px */
            margin-bottom: calc(16 / 16 * 1rem);
            color: var(--textDark);
        }

        .nm-button-secondary {
            color: var(--accent500);
        }

        .cs-picture {
            width: 100%;
            max-width: calc(550 / 16 * 1rem);
            /* 380px - 453px */
            aspect-ratio: 16 / 9;
            height: auto;
            /* clips the img tag corners */
            overflow: hidden;
            display: block;
            position: relative;
            margin-top: -6rem;
            z-index: 2;

            &:before {
                /* yellow box */
                content: "";
                width: 150%;
                height: 105%;
                aspect-ratio: 16 / 9;
                background: var(--secondary300);
                opacity: 1;
                display: block;
                position: absolute;
                /* 16px - 28px, wrapped in calc function to multiple by negative 1 and get a negative clamp value */
                top: calc(clamp(1rem, 2.4vw, 1.75rem) * -1);
                left: calc(clamp(1rem, 2.4vw, 1.75rem) * -1);
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* makes image act as a background image */
                object-fit: cover;
                z-index: 3;
            }
        }

        .cs-waves {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #hero-288 {
        text-align: left;
        padding: calc(200 / 16 * 1rem) calc(16 / 16 * 1rem)
            calc(80 / 16 * 1rem);
        background-color: var(--secondary);
        max-height: 95vh;
        
        .cs-container {
            flex-direction: row;
            justify-content: space-between;
            min-height: calc(550 / 16 * 1rem);
            column-gap: 1rem;
        }

        .cs-content {
            width: 50%;
            /* prevents flex-box from squishing it */
            flex: none;
            align-items: flex-start;
            text-align: left;
            padding: 3rem 1rem;
        }

        .cs-title,
        .cs-text {
            text-align: left;
        }

        .cs-picture {
            width: 100%;
            height: auto;
            aspect-ratio: 1 / 1;
            /* 623px - 814px */
            margin-top: -3rem;
        }

        .cs-waves {
            height: 100%;
            width: calc(40vw + 9rem);
            left: 50%;
            margin-left: calc(200 / 16 * 1rem);
            display: block;
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 1;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #hero-288 {

            
            .cs-content {
                background-color: var(--primary);
            }
            .cs-title {
                color: var(--textLight);
            }

            .cs-text {
                color: var(--textLight);
                opacity: .8;
            }

            .nm-button-secondary {
                color: var(--textLight);
            }


            #button-box-838 {
                .cs-button-transparent {
                    color: var(--textLight);
                }
            }
        }
    }
}

@media only screen and (min-width: 64rem) {
    body.dark-mode {
        #hero-288 {
            background-color: var(--primary);
        }
    }
}
