/* DARK MODE AND TOGGLE STYLES */

/*-- -------------------------- -->
<---      Core Dark Styles      -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0rem) {
    // Dark Mode Color Scheme
    :root {
        --dark: #071219;
        --medium: #122633;
        --accent: #294759;
    }

    body.dark-mode {
        background-color: var(--dark);

        p,
        li,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: var(--textLight);
        }

        a {
            color: var(--primary100);
        
            &:visited {
                color: var(--secondary200);
            }
        
            &:hover {
                color: var(--primary200);
            }
        }

        a[target="_blank"]:link::after {
            background-color: var(--primary100);
        }
    
        a[target="_blank"]:hover::after {
            background-color: var(--primary200);
            width: .8em;
            height: .8em;
        }
    
        a[target="_blank"]:visited::after {
            background-color: var(--secondary200);
        }

        
        // hide all light classes
        .light {
            display: none;
        }

        // show all dark classes
        .dark {
            display: block !important;
        }

        .cs-topper {
            color: var(--secondary);
        }

        .cs-button-solid {
            background-color: var(--secondary200);
            color: var(--dark);

            &:visited {
                color: var(--dark);
            }

            &:hover {
                color: var(--textLight);
            }

            &:before {
                background-color: var(--primary400);
            }
        }

        .cs-button-transparent {

            &:hover {
                background-color: var(--primary);
            }
        }
    }

    .dark {
        display: none;
    }
}

@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #hero-668 {
            background-color: var(--primary);
        }
    }
}