/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs-578 {
        background-color: var(--primary80);

        .cs-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */

        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: calc(768 / 16 * 1rem);
            /* moved section padding to the .cs-content so we can have the cs-picture be full width on mobile without the padding preventing it from doing so */
            padding: var(--sectionPadding);
            /* prevents padding from affecting width and height */
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
            order: 1;
        }

        .cs-topper {
            color: var(--secondary20);
        }

        .cs-title,
        .cs-text {
            color: var(--textLight);
        }

        .cs-text {
            margin-bottom: calc(16 / 16 * 1rem);
            &:last-of-type {
                margin-bottom: calc(32 / 16 * 1rem);
            }
        }

        .nm-button-secondary {
            color: var(--textLight);
        }

        .cs-picture {
            display: block;
            position: relative;
            width: 100%;
            height: auto;
            aspect-ratio: 16 / 9;
            order: 2;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbs-578 {
        padding: var(--sectionPadding);

        .cs-container {
            flex-direction: row;
            justify-content: flex-start;
            /* 60px - 128px */
            gap: clamp(3.75rem, 10vw, 8rem);
        }

        .cs-content {
            width: 53%;
            /* reset the padding, add the section padding back to the section container */
            padding: 0;
            order: 2;
        }

        .cs-picture {
            width: 100%;
            max-width: calc(494 / 16 * 1rem);
            /* 518px - 700px */
            height: auto;
            /* 16px - 28px, added margin left and bottom to cs-picture so it pushes away by the same amount the yellow box element overlaps it left and bottom. This maintains consistent spacing left and bottom */
            aspect-ratio: 2/3;
            margin: 0 0 clamp(1rem, 2.4vw, 1.75rem) clamp(1rem, 2.4vw, 1.75rem);
            position: relative;
            order: 1;

            &:before {
                /* yellow box */
                content: "";
                width: 50%;
                height: 60%;
                background: var(--secondary40);
                opacity: 1;
                display: block;
                position: absolute;
                /* 16px - 28px, wrapped in calc function to multiple by negative 1 and get a negative clamp value */
                bottom: calc(clamp(1rem, 2.4vw, 1.75rem) * -1);
                left: calc(clamp(1rem, 2.4vw, 1.75rem) * -1);
            }
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #sbs-578 {
            background-color: var(--medium);

            .cs-topper {
                color: var(--secondary20);
            }

            .cs-title,
            .cs-text {
                color: var(--textLight);
            }

            .cs-text {
                opacity: 0.8;
            }

            .cs-picture {
                &:before {
                    background-color: var(--accent);
                }
            }
        }
    }
}

/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-690 {
        padding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem 4rem 1rem;

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: calc(550 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-flex-group {
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-topper {
            color: var(--accent70);
        }

        .cs-title {
            color: var(--secondary80);
        }

        .cs-text {
            padding-bottom: 1rem;

        }
    }
}


/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #cs-content-832 {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: calc(48 / 16 * 1rem);

        .cs-flex-group {
            width: 50%;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #cs-content-832 {
            .cs-topper {
                color: var(--secondary20);
            }
            .cs-title,
            .cs-text {
                color: var(--textLight);
            }

            .cs-text {
                opacity: 0.8;
            }
        }
    }
}

                                
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-690 {
        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
        }

        .cs-content {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: calc(48 / 16 * 1rem);
        }

        .cs-flex-group {
            width: 50%;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #services-690 {
            background: var(--dark);
            .cs-topper {
                color: var(--secondary20);
            }
            .cs-title,
            .cs-text,
            .cs-h3,
            .cs-item-text {
                color: var(--textLight);
            }

            .cs-color {
                color: var(--secondary30);
            }

            .cs-picture {
                background-color: var(--primary40);
            }

            .cs-text,
            .cs-item-text {
                opacity: 0.8;
            }

            .cs-item {
                background-color: var(--primary80);
            }

            .nm-accent {
                background-color: var(--primary70);

                    .cs-picture {
                        background-color: var(--medium);
                    }
                }

            .cs-th {
                border: 1px solid var(--primary70);
            }

            .cs-td {
                background-color: var(--primary70);
                border: 1px solid var(--primary50);
            }
        
            .cs-color {
                .cs-th {
                    &:first-child {
                        color: var(--textLight);
                        background-color: var(--dark);
                    }
                }

                .nm-th-accent {
                    background-color: var(--dark);
                }
            }
        
            .cs-th:first-child, .cs-td:first-child {
                background-color: var(--medium);
                border: 1px solid var(--primary50);
                color: var(--textLight);
            }

            .nm-td-accent {
                background-color: var(--medium);
            }
        
            .cs-th {
            background-color: var(--medium);
            color: var(--textLight);
            }

            .cs-tr {
                color: var(--textLight);
            }
        }
    }
}




/*-- -------------------------- -->
<---          Pricing           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #pricing-1233 {
        padding: 0 1rem clamp(3.75rem, 7.82vw, 6.25rem) 1rem;

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: calc(550 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            position: relative;
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            /* 16px - 20px */
            gap: clamp(1rem, 1.8vw, 1.25rem);
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-item {
            text-align: left;
            list-style: none;
            width: 100%;
            margin: 0;
            /* 24px - 40px top & Bottom */
            /* 20px - 40px left & right */
            padding: clamp(1.5rem, 4.2vw, 2.5rem) clamp(1.25rem, 4.2vw, 2.5rem);
            background-color: var(--secondary10);
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: stretch;
        }

        .nm-badge {
            background-color: var(--secondary40);
            align-items: center;
            display: inline-block;
            margin-bottom: 1rem;
            padding: .125rem;
        }

        .nm-best {
            font-family: var(--smallCaps);
            font-size: calc(16 / 16 * 1rem);
            text-transform: uppercase;
            letter-spacing: 2px;
            color: var(--accent90);
            text-align: center;
            align-self: center;
        }

        .cs-button-transparent {
            margin-top: 1rem;
            padding: 1rem;
            border: 2px solid var(--accent70);
        }

        .cs-popular {
            background-color: var(--accent70);
            color: var(--textLight);
            filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, .4));
            padding: clamp(2.5rem, 4.7vw, 3.5rem) clamp(1.5rem, 4.2vw, 2.5rem);

            .cs-package {
                color: var(--textLight);
                font-size: clamp(2.5rem, 2.7vw, 3.25rem);
            }

            .cs-desc,
            .cs-time {
                color: var(--textLight);
                opacity: 0.8;
            }

            .cs-price {
                color: var(--secondary05);
            }

            .cs-includes {
                color: var(--textLight);
            }

            .cs-includes {
                border-color: var(--secondary30);
            }

            .cs-li {
                color: var(--textLight);
            }

            .cs-button-transparent {
                color: var(--textLight);
                border: 2px solid var(--secondary20);

                &:hover {
                    background-color: var(--secondary20);
                    color: var(--accent80);
                }
            }
        }

        .cs-package {
            /* 13px - 16px */
            font-family: var(--headerFont);
            font-size: clamp(2rem, 2.2vw, 3rem);
            line-height: 1.2em;
            text-align: inherit;
            font-weight: 400;
            /* 4px - 8px */
            margin: 0 0 clamp(0.25rem, 1vw, 0.5rem) 0;
            color: var(--accent70);
            display: block;
        }

        .cs-desc {
            /* 13px - 16px */
            font-size: clamp(0.8125rem, 1.4vw, 1rem);
            font-weight: 400;
            line-height: 1.5em;
            text-align: left;
            /* 12px - 24px */
            margin: 0 0 clamp(0.75rem, 2.5vw, 1.5rem);
            color: var(--textDark);
            display: block;
        }

        .cs-price {
            /* 39px - 49px */
            font-family: var(--headerFont);
            font-size: clamp(1.75rem, 2vw, 2.5rem);
            line-height: 1.2em;
            text-align: inherit;
            font-weight: 400;
            margin: 0;
            color: var(--accent70);
            display: flex;
            flex-wrap: wrap;
            gap: .25rem;
        }

        .cs-time {
            font-family: var(--smallCaps);
            font-size: calc(14 / 16 * 1rem);
            letter-spacing: 2px;
            text-transform: uppercase;
            font-weight: 400;
            display: inline-block;
            margin: 0 0 0 calc(-8 / 16 * 1rem);
            color: var(--textDark);
        }

        .cs-includes {
            font-family: var(--smallCaps);
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.2em;
            letter-spacing: 2px;
            text-transform: uppercase;
            text-align: inherit;
            font-weight: 600;
            width: 100%;
            color: var(--accent70);
            margin-top: 2rem;
            /* 16px - 24px */
            padding: clamp(1rem, 3vw, 1.5rem) 0 0 0;
            border-top: 1px solid var(--secondary30);
            display: block;
        }

        .cs-ul {
            /* 16px - 24px */
            margin: clamp(1rem, 3vw, 1.5rem) 0 clamp(1.125rem, 3.5vw, 1.75rem) 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            /* 4px - 12px */
            gap: clamp(0.25rem, 1.3vw, 0.75rem);
            position: relative;
        }

        .cs-li {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            list-style: none;
            line-height: 1.5em;
            width: 100%;
            margin: 0;
            padding: 0;
            color: var(--textDark);
            display: flex;
            justify-content: flex-start;
            /* push everything to the top so if the li goes to two lines the icon stays at the top */
            align-items: flex-start;
            gap: calc(8 / 16 * 1rem);
        }

        .cs-icon {
            width: calc(18 / 16 * 1rem);
            height: auto;
            display: block;
            margin-top: 4px; 
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #pricing-1233 {
        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
        }

        .cs-item {
            flex-direction: row;
        }

        .cs-item-content {
            width: 30%;
            max-width: calc(228 / 16 * 1rem);
            /* 28px - 40px */
            margin-right: clamp(1.75rem, 4vw, 2.5rem);
            padding-right: clamp(1.75rem, 4vw, 2.5rem);
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            border-right: 1px solid var(--secondary50);
        }

        .cs-popular {
            .cs-item-content {
                border-color: var(--secondary30);
            }

            .cs-package {
                font-size: clamp(1.6125rem, 2vw, 2rem);
            }
        }

        .cs-package {
            font-size: clamp(1.25rem, 1.7vw, 1.5rem);
            
        }

        .cs-includes {
            padding: 0;
            border: none;

            &:first-of-type {
                margin-top: 0;
            }
            
            &:last-of-type {
                margin-top: 3rem;
            }
        }

        .cs-ul {
            display: grid;
            /* removed at desktop, added again at large desktop */
            grid-template-columns: repeat(2, minmax(9rem, 1fr));
        }

        .cs-li {
            grid-column: span 1;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #pricing-1233 {
        .cs-container {
            flex-direction: row;
            align-items: flex-start;
        }

        .cs-content {
            text-align: left;
            max-width: calc(400 / 16 * 1rem);
            align-items: flex-start;
        }

        .cs-card-group {
            /* changes to 813px at large desktop */
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
        }

        .cs-item-content {
            width: 100%;
            max-width: 20vw;
            flex: none;
        }

        .cs-ul {
            display: grid;
            grid-template-columns: repeat(2, minmax(9rem, 1fr));
        }

        .cs-li {
            grid-column: span 1;
        }
    }
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #pricing-1233 {
        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
        }
        
        .cs-card-group {
            width: 100%;
        }
        .cs-ul {
            grid-template-columns: repeat(3, minmax(9rem, 1fr));
        }

        .cs-li {
            grid-column: span 1;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #pricing-1233 {
            .cs-title,
            .cs-text,
            .cs-package,
            .cs-li,
            .cs-price,
            .cs-desc,
            .cs-time,
            .cs-includes {
                color: var(--textLight);
            }

            .cs-text,
            .cs-time,
            .cs-desc,
            .cs-li {
                opacity: 0.8;
            }

            .cs-item {
                background-color: var(--primary80);
            }

            .cs-item-content {
                border-color: rgba(255, 255, 255, 0.3);
            }

            .cs-disabled {
                opacity: 0.4;
            }

            .cs-popular {
                background-color: var(--primary70);

                .cs-price,
                .cs-package {
                    color: var(--textLight);
                }

                .cs-disabled {
                    opacity: 0.9;
                }
            }

            .cs-button-transparent {
                border-color: var(--textLight);
                color: var(--textLight);
            }
        }
    }
}

/*-- -------------------------- -->
<---            FAQ             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #faq-351 {
        padding: var(--sectionPadding);
        background-color: var(--primary70);

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: calc(550 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            row-gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-topper {
            color: var(--secondary20);
        }

        .cs-title,
        .cs-text {
            color: var(--textLight);
        }


        .nm-button-secondary {
            color: var(--textLight);
            margin-top: 1rem;
        }

        .cs-faq-group {
            padding: 0;
            margin: 0;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            &:nth-of-type(2) { 
                margin-top: -3rem;
            }
        }

        .cs-faq-item {
            list-style: none;
            width: 100%;
            border-bottom: 1px solid var(--primary50);
            transition: border-bottom 0.3s;

            &.active {
                border-color: var(--secondary20);
                .cs-button {
                    color: var(--secondary10);
                    &:before {
                        background-color: var(--secondary20);
                        transform: rotate(315deg);
                    }
                    &:after {
                        background-color: var(--secondary20);
                        transform: rotate(-315deg);
                    }
                }
                .cs-item-p {
                    height: auto;
                    /* 20px - 24px bottom */
                    /* 16px - 24px left & right */
                    padding: 0 clamp(1rem, 2vw, 1.5rem)
                        clamp(1.25rem, 1.3vw, 1.5rem);
                    opacity: 1;

                    li {
                        color: var(--textLight);
                        font-size: 1rem;
                    }
                }
            }
        }

        .cs-button {
            font-size: calc(20 / 16 * 1rem);
            font-family: var(--headerFont);
            line-height: 1.2em;
            text-align: left;
            /* 16px - 20px */
            padding: clamp(1rem, 1.3vw, 1.25rem);
            border: none;
            background: transparent;
            color: var(--textLight);
            display: block;
            width: 100%;
            position: relative;
            transition:
                background-color 0.3s,
                color 0.3s;

            &:hover {
                cursor: pointer;
            }

            &:before {
                /* left line */
                content: "";
                width: calc(8 / 16 * 1rem);
                height: calc(2 / 16 * 1rem);
                background-color: var(--primary30);
                opacity: 1;
                border-radius: 50%;
                position: absolute;
                display: block;
                top: 45%;
                right: calc(24 / 16 * 1rem);
                transform: rotate(45deg);
                /* animate the transform from the left side of the x axis, and the center of the y */
                transform-origin: left center;
                transition: transform 0.5s;
            }

            &:after {
                /* right line */
                content: "";
                width: calc(8 / 16 * 1rem);
                height: calc(2 / 16 * 1rem);
                background-color: var(--primary30);
                opacity: 1;
                border-radius: 50%;
                position: absolute;
                display: block;
                top: 45%;
                right: calc(21 / 16 * 1rem);
                transform: rotate(-45deg);
                /* animate the transform from the right side of the x axis, and the center of the y */
                transform-origin: right center;
                transition: transform 0.5s;
            }
        }

        .cs-button-text {
            width: 80%;
            display: block;
        }

        .cs-item-p {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            width: 90%;
            height: 0;
            margin: 0;
            /* 16px - 24px */
            padding: 0 clamp(1rem, 2vw, 1.5rem);
            opacity: 0;
            color: var(--textLight);
            /* clips the text so it doesn't show up */
            overflow: hidden;
            transition:
                opacity 0.3s,
                padding-bottom 0.3s;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #faq-351 {
        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
            flex-direction: row;
            justify-content: space-between;
            /* push everything to the top */
            align-items: flex-start;
            flex-wrap: wrap;
        }

        .cs-content {
            width: 100%;
        }

        .cs-faq-group {
            width: 48%;

            &:nth-of-type(2) { 
                margin-top: 0;
            }
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #faq-351 {
            background-color: var(--medium);
        }
    }
}

