/*-- -------------------------- -->
<---          Banner            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #banner-1106 {
        padding: var(--sectionPadding);
        padding-top: calc(180 / 16 * 1rem);
        padding-bottom: calc(120 / 16 * 1rem);
        /* clips the line from causing overflow issues for going off screen */
        overflow: hidden;
        position: relative;
        z-index: 1;

        .cs-container {
            text-align: center;
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            gap: calc(12 / 16 * 1rem);
        }

        .cs-int-title {
            /* 39px - 61px */
            font-family: var(--headerFont);
            font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
            font-weight: 400;
            line-height: 1.2em;
            text-align: left;
            margin: 0;
            color: var(--textLight);
            position: relative;
            font-variant-numeric: lining-nums;
        }

        .nm-subhead {
            font-size: clamp(1.125rem, 2vw, 1.25rem);
            text-align: left;
            color: var(--textLight);
        }

        .cs-text {
            color: var(--textLight);
        }

        .light-mode {
            display: block;
        }

        .dark-mode {
            display: none;
        }
        .cs-background {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            &:before {
                /* background color overlay */
                content: "";
                position: absolute;
                display: block;
                height: 100%;
                width: 100%;
                background: -moz-linear-gradient(
                    left,
                    rgba(25, 7, 5, 0.5) 0%,
                    rgba(25, 7, 5, 0) 100%
                ); /* FF3.6-15 */
                background: -webkit-linear-gradient(
                    left,
                    rgba(25, 7, 5, 0.5) 0%,
                    rgba(25, 7, 5, 0) 100%
                ); /* Chrome10-25,Safari5.1-6 */
                opacity: 1;
                top: 0;
                left: 0;
                z-index: 1;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* Makes img tag act as a background image */
                object-fit: cover;
            }
        }
    }
}

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #content-1638 {
        padding: var(--sectionPadding);
        background-color: var(--secondary10);
        position: relative;
        z-index: 1;
        
        .cs-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 100px */
            gap: clamp(3rem, 9vw, 6.25rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-flex {
            max-width: calc(608 / 16 * 1rem);
        }

        .cs-h3 {
            font-size: calc(24 / 16 * 1rem);
            line-height: 1.2em;
            font-weight: 400;
            margin: 0 0 calc(16 / 16 * 1rem) 0;
            color: var(--textLight);
        }

        .nm-highlight {
            background-color: var(--primary70);
            padding: 2rem;
            
            .cs-text {
                color: var(--textLight);
            }

            .nm-button-secondary {
                color: var(--textLight);
            }
        }

        .cs-title {
            padding-bottom: 2rem;
        }

        .cs-text {
            margin-bottom: calc(16 / 16 * 1rem);

            &:last-of-type {
                margin-bottom: calc(32 / 16 * 1rem);
            }
        }


    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #content-1638 {
        &:before {
            height: 63%;
        }
        .cs-content {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: calc(40 / 16 * 1rem);
        }

        .cs-flex {
            width: 50%;
            text-align: left;
        }

        .cs-title {
            margin: 0;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #content-1638 {
            background-color: rgba(0, 0, 0, .2);
            
            .cs-title, .cs-text, .cs-h3, .cs-text {
                color: var(--textLight);
            }

            .cs-text {
                opacity: .8;
            }
        }
    }
}
                                